<section>
  <div class="card p-3 mb-2 bg-secondary-subtle text-emphasis-secondary">
    <div class="card-header">
      <h2>Cadastro de Lembretes</h2>
    </div>
    <div class="card-body">
      <form class="row" [formGroup]="cadastroForm" (submit)="applyCadastro()">
        <div class="mb-3 d-flex flex-column">
          <label for="date" class="form-label fs-5">Escolha uma Data:</label>
          <p-calendar
            inputId="date"
            dateFormat="dd/mm/yy"
            formControlName="date"
            [showIcon]="true"
            [minDate]="minDate"
          ></p-calendar>
        </div>
        <div>
          <label for="name" class="form-label fs-5"
            >Escolha um Nome para o Lembrete:</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="name"
            inputId="name"
          />
        </div>
        <div id="button">
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="cadastroForm.invalid"
          >
            Criar Lembrete
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
