<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teste DTI</title>
  </head>
  <body>
    <header>
      <nav
        class="navbar bg-dark border-bottom border-bottom-dark"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Sistema de Lembretes</span>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href=""
                >Página Inicial</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      <form class="mb-3">
        <app-cadastro-lembrete
          (newItemEvent)="addItem($event)"
        ></app-cadastro-lembrete>
      </form>
      <aside>
        <app-lista-lembrete
          [listaLembretes]="listaLembretes"
        ></app-lista-lembrete>
      </aside>
    </main>
    <footer>
      <p class="text-center fs-5">
        Desenvolvido por Arthur Lima Camargos -
        <a href="https://github.com/arthur-lima-camargos" target="_blank">
          GitHub
        </a>
      </p>
    </footer>
  </body>
</html>
